*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  padding: 0 40px;
  background: #01aeff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 50% auto;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h2 {
  text-align: center;
  padding: 10px;
  color: #000000;
  border-radius: 20px;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
}

button {
  display: inline-block;
  background: #0166ff;
  border: 0;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 20px;
  margin-left: 25%;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 1px 3px rgba(117, 117, 117, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.joke {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-wrap: break-word;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
}

@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .container {
    width: 100%;
  }
  button {
    padding: 10px;
    font-size: 14px;
    margin-left: 30%;
  }
  .joke {
    padding: 20px;
  }
}
